@model OceanNex.Models.FeedBackPredicao

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>FeedBackPredicao</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StatusFeedBackPredicao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StatusFeedBackPredicao)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DescricaoFeedBackPredicao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DescricaoFeedBackPredicao)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Predicao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Predicao.DescricaoPredicao)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Conta)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Conta.Email)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.FeedBackPredicaoId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
