@model IEnumerable<OceanNex.Models.FeedBackPredicao>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.StatusFeedBackPredicao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DescricaoFeedBackPredicao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Predicao)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.StatusFeedBackPredicao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DescricaoFeedBackPredicao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Predicao.DescricaoPredicao)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.FeedBackPredicaoId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.FeedBackPredicaoId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.FeedBackPredicaoId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
